main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

textarea {
  height: 150px !important;
}

.zoom-img-container {
  position: relative;
  z-index: 1;
}

.zoom-lens {
  position: absolute;
  z-index: 2;
  height: 125px;
  width: 125px;
  border: 2px solid black;
  background-repeat: no-repeat;
  cursor: none;
}
