main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

textarea {
  height: 150px !important;
}

.zoom-img-container {
  position: relative;
  z-index: 1;
}

.zoom-lens {
  position: absolute;
  z-index: 2;
  height: 125px;
  width: 125px;
  border: 2px solid black;
  background-repeat: no-repeat;
  cursor: none;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  font-size: 20px;
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  display: block;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
